# Variáveis de Ambiente / Environment Variables
# Copie este arquivo para .env e preencha os valores
# Copy this file to .env and fill in the values

AGG_MAXLEN=your-value-here
AGG_PUBLISH_INTERVAL_SEC=your-value-here
AGG_PUBLISH_TOPIC=your-value-here
KAFKA_ACKS=your-value-here
KAFKA_AUTO_OFFSET_RESET=your-value-here
KAFKA_BOOTSTRAP_SERVERS=your-value-here
KAFKA_GROUP_ID=your-value-here
KAFKA_LINGER_MS=your-value-here
